<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS2Library</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.8.3" integrity="sha384-e2no7T1BxIs3ngCTptBu4TjvRWF4bBjFW0pt7TpxOEkRJuvrjRt29znnYuoLTz9S" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
        body {
            font-family: 'Roboto', sans-serif;
        }
        #appStatus {
            transition: all 0.5s;
        }
    </style>
</head>


<body style="min-height: 100vh;">
      <!-- SEARCH -->
      <input class="form-control" type="search" 
             name="query" placeholder="Search for a game" 
             hx-get="/search" 
             hx-trigger="keyup changed delay:0ms, search" 
             hx-target="#games" 
             hx-indicator=".htmx-indicator">
      <!-- SEARCH -->
             
      <!-- GAMES -->
    <div id="games" class="games d-steam-cards mx-auto">
        {% include 'partial.games.html' %}
    </div>
      <!-- GAMES -->

    <footer class="sticky top-[100vh] text-left">
        <div class="container mt-2">
        </div>
    </footer>

    <!-- https://github.com/kallaspriit/HTML5-JavaScript-Gamepad-Controller-Library -->
    <script src="/static/js/gamepad.min.js"></script>
    <script>        
        var gamepad = new Gamepad();
        gamepad.init();
        gamepad.bind(Gamepad.Event.BUTTON_DOWN, function(e) {
            console.log(e);
            if (e.control == 'A') {
                console.log('A button pressed');
            }
            if (e.control == 'DPAD_UP') {
                console.log('DPAD_UP button pressed');
                document.body.dispatchEvent(new KeyboardEvent('keydown', {'keyCode': 38}));
            }
            if (e.control == 'DPAD_DOWN') {
                console.log('DPAD_DOWN button pressed');
                document.body.dispatchEvent(new KeyboardEvent('keydown', {'keyCode': 40}));
            }
            if (e.control == 'DPAD_LEFT') {
                console.log('DPAD_LEFT button pressed');
                document.body.dispatchEvent(new KeyboardEvent('keydown', {'keyCode': 37}));
            }
            if (e.control == 'DPAD_RIGHT') {
                console.log('DPAD_RIGHT button pressed');
                document.body.dispatchEvent(new KeyboardEvent('keydown', {'keyCode': 39}));
            }
        });

        function handleClick(e) {
            fetch('/run_game', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    game: e.dataset.game,
                    games: e.dataset.gameDisks
                })
            })
        }

        // observe keypresses
        document.addEventListener('keydown', function(e) {
            // focus search bar
                document.querySelector('input').focus();
        });

// FACE_1 == A
// FACE_2 == B
// FACE_3 == X
// FACE_4 == Y
// 
// DPAD_UP == UP
// DPAD_DOWN == DOWN
// DPAD_LEFT == LEFT
// DPAD_RIGHT == RIGHT
// 
// SELECT_BACK == SELECT
// START_FORWARD = START


        //gamepad.bind(Gamepad.Event.AXIS_CHANGED, function(e) {
        //    console.log(e);
        //    if (e.axis == 'LEFT_STICK_X') {
        //        console.log('Left stick X axis changed');
        //    }
        //});
        //gamepad.bind(Gamepad.Event.CONNECTED, function(e) {
        //    console.log(e);
        //    console.log('Gamepad connected');
        //});
        //gamepad.bind(Gamepad.Event.DISCONNECTED, function(e) {
        //    console.log(e);
        //    console.log('Gamepad disconnected');
        //});
    </script>
</body>
</html>