
{% for game in games %}
<div class="d-steam-card-wrapper">
    <form action="/open_folder" method="post">
        <figure
        class="d-steam-card hover-img"
        style='background-image: url("/static/covers/{{ game['display_name'] }}.{{ game['cover_extension'] }}")'
        onclick="handleClick(this)"
        data-game="{{ game['iso'] }}"
        data-game-disks="{{ game['isos'] }}"
        >
        <figcaption>
            <h2>{{ game['display_name'] }}</h2>
        </figcaption>
    </figure>
</div>
<button name="game" type="submit" value="{{ game.game_directory }}"></button>
</form>
{% endfor %}